p{
	/*Content - Width and Height*/
	width: 50%;

	/*Border - box lines around elements*/
	border: 2px solid blue;

	/*Padding space between elements and borders*/
	padding: 10px;

	/*Margin - space between elements*/
	/*margin: top right bottom left;*/
	/*margin: 20px 40px 100px 50px;*/
	margin: 0 auto 0 auto;

}